<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="demo sauce">
    <listeners>
<!--        <listener class-name="Utils.listeners.CustomSuiteListener"/>-->
        <listener class-name="Utils.listeners.TestListener"/>
    </listeners>

    <test name="pass">
        <classes>
            <class name="Tests.SauceDemoOfficeTest1"/>
            <class name="Tests.SauceDemoTest"/>
            <class name="Tests.SauceDemoOfficeSkipTest"/>
        </classes>
    </test>
<!--    <test name="fail">-->
<!--        <classes>-->
<!--            <class name="Tests.SauceDemoOfficeTest1"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="skipped">-->
<!--        <classes>-->
<!--            <class name="Tests.SauceDemoOfficeSkipTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
